body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color:black;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: brown;
}

#cabecalho .nav .nav-link,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

#cabecalho .nav-link:hover{
    color: red;
}

.imagem-cabecalho img{
    width: 90px;
    height: 100px;
}
.navbar-brand{
    font-family: 'Allura', cursive;
    font-size: 70px;
    font-weight: bolder;
    color: #fff;
}

.navbar-brand:hover {
    color:#ffffff
}

.header img{
    width: 20%;
}

.navbar-brand-sub{
    font-family: 'Tangerine', cursive;
    color: red;
    font-size: 40px;
}

.navbar-toggler{
    background-color: rgba(0, 0, 0, 0.148)
}

#sobre-o-restaurante,
#cardapio{
    
    background-color:rgba(165, 42, 42, 0.141); ;
}

.section-title{
    font-family: 'Bebas Neue', sans-serif;
}

.text-colored{
    color: brown;
}

.nav-cardapio .nav-link.active,
#contato  button{
    background-color: brown;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
color: brown;
}
.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}
